<!DOCTYPE html>
<html>
<head>
    <title>Getting Started Vue.js</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
  <h1 id= "example">Hi Thang</h1>
  <div id = "app">
      {{message}}
  </div>
  <div id = "app-2">
      <!-- bind rang buoc cac thuoc tinh cua phan tu web-->
      <!-- vi du bind thuoc tinh tieu de -->
      <span v-bind:title = "message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
      </span>
  </div>
  <div id = "app-3">
      <span v-if = "seen">Yeu hay khong yeu noi mot loi ??</span>
  </div>
  <div id = "app-4">
      <ol>
        <li v-for="todo in todos">
          {{todo.text}}      
        </li>
      </ol>
  </div>
  <div id = "app-5">
    <p>{{message}}</p>
    <button v-on:click = "reverseMessage">Dao nguoc thong diep</button>
  </div>
  <div id = "app-6">
    <p>{{message}}</p>
    <input v-model = "message">
  </div>

  <div id = "app-7">
    <p>Nhung thu can mua</p>
    <ol>
      <todo-item
        v-for = "item in groceryList"
        v-bind:todo = "item"
        v-bind:key = "item.id" 
         >
      </todo-item>      
    </ol>
  </div>

  <div id = "app-obj">
      <p>{{foo}}</p>
      <button @click="foo = 'baz'">Cập nhật đi chứ</button>
  </div>
  <!-- <button v-bind:disabled="isButtonDisabled">Hòn Vọng Phu</button> -->
  <div id  = "example1">
      <p>{{ mess }}</p>
      <p>{{ reverseMessage }}</p>
  </div>
  <div id="watch-example">
      <p>
        Hãy hỏi một câu hỏi yes/no:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>
  
  <div id = "hhi" v-bind:class="classObject" v-bind:style="styleObject">hih</div> 
  <div id = "test2">
        <div v-if="type === 'A'">A</div>
        <div v-else-if="type === 'B'">B</div>
        <div v-else-if="type === 'C'">C</div>
        <div v-else-if="type === 'D'">D</div>
        <div v-else>Chiến Sĩ không thể nhớ nổi</div>

        <div v-show=" vs === 1">Test v-show</div>
   </div>

   <!-- todo list -->
   <div id = "todo-list-example">
       <input 
         v-model = "newTodoText"
         v-on:keyup.enter = "addNewTodo"
         placeholder="Them viec can lam" 
       >
       <ul>
           <li
             is = "todo-item"
             v-for="(todo, index) in todos"
             v-bind:key = "todo.id"
             v-bind:title = "todo.title"
             v-on:remove = "todo.splice(index,1)"
           ></li>
       </ul>
   </div>

   <div id = "example-1">
       <button v-on:click="counter += 1" >Dem cuu</button>
       <p>{{ counter }} con cuu.</p>
       <button v-on:click="greet">Chao mung</button>
   </div>
   <div>
     <input v-model="mes" placeholder = "Nhap van ban">
     <p>Thong diep: {{ mes }}</p>
   </div>
   <div>
       <span>Thông điệp có nhiều dòng:</span>
       <p style="white-space: pre-line;">{{ message }}</p>
       <br>
       <textarea v-model="message" placeholder="Nhập văn bản có nhiều dòng"></textarea>
   </div>
  <script src="index.js"></script>
</body>
</html>
