<!DOCTYPE html>
<html>
<head>
    <title>Getting Started Vue.js</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
  <h1 id= "example">Hi Thang</h1>
  <div id = "app">
      {{message}}
  </div>
  <div id = "app-2">
      <!-- bind rang buoc cac thuoc tinh cua phan tu web-->
      <!-- vi du bind thuoc tinh tieu de -->
      <span v-bind:title = "message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
      </span>
  </div>
  <div id = "app-3">
      <span v-if = "seen">Yeu hay khong yeu noi mot loi ??</span>
  </div>
  <div id = "app-4">
      <ol>
        <li v-for="todo in todos">
          {{todo.text}}      
        </li>
      </ol>
  </div>
  <div id = "app-5">
    <p>{{message}}</p>
    <button v-on:click = "reverseMessage">Dao nguoc thong diep</button>
  </div>
  <div id = "app-6">
    <p>{{message}}</p>
    <input v-model = "message">
  </div>

  <div id = "app-7">
    <p>Nhung thu can mua</p>
    <ol>
      <todo-item
        v-for = "item in groceryList"
        v-bind:todo = "item"
        v-bind:key = "item.id" 
         >
      </todo-item>      
    </ol>
  </div>

  <div id = "app-obj">
      <p>{{foo}}</p>
      <button @click="foo = 'baz'">Cập nhật đi chứ</button>
  </div>
  <!-- <button v-bind:disabled="isButtonDisabled">Hòn Vọng Phu</button> -->
  <div id  = "example1">
      <p>{{ mess }}</p>
      <p>{{ reverseMessage }}</p>
  </div>
  <div id="watch-example">
      <p>
        Hãy hỏi một câu hỏi yes/no:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>

  <script src="index.js"></script>

</body>
</html>
